[submodule "luci-app-adguardhome"]
	path = luci-app-adguardhome
	url = https://github.com/kongfl888/luci-app-adguardhome.git
[submodule "luci-theme-argon"]
	path = luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon.git
[submodule "luci-app-vssr"]
	path = luci-app-vssr
	url = https://github.com/jerrykuku/luci-app-vssr.git
[submodule "luci-app-dockerman"]
	path = luci-app-dockerman
	url = https://github.com/lisaac/luci-app-dockerman.git
[submodule "luci-app-unblockneteasemusic"]
	path = luci-app-unblockneteasemusic
	url = https://github.com/cnsilvan/luci-app-unblockneteasemusic.git
[submodule "luci-app-netdata"]
	path = luci-app-netdata
	url = https://github.com/MitchWind/luci-app-netdata.git
[submodule "luci-app-jd-dailybonus"]
	path = luci-app-jd-dailybonus
	url = https://github.com/jerrykuku/luci-app-jd-dailybonus.git
[submodule "luci-app-argon-config"]
	path = luci-app-argon-config
	url = https://github.com/jerrykuku/luci-app-argon-config.git
[submodule "luci-app-ttnode"]
	path = luci-app-ttnode
	url = https://github.com/jerrykuku/luci-app-ttnode.git
[submodule "luci-app-wrtbwmon"]
	path = luci-app-wrtbwmon
	url = https://github.com/brvphoenix/luci-app-wrtbwmon.git
[submodule "depend/lua-maxminddb"]
	path = depend/lua-maxminddb
	url = https://github.com/jerrykuku/lua-maxminddb.git
[submodule "depend/ddns-script"]
	path = depend/ddns-script
	url = https://github.com/MitchWind/ddns-script.git
[submodule "depend/wrtbwmon"]
	path = depend/wrtbwmon
	url = https://github.com/brvphoenix/wrtbwmon.git
[submodule "luci-app-passwall"]
	path = luci-app-passwall
	url = https://github.com/xiaorouji/openwrt-passwall.git
[submodule "depend/wind-settings"]
	path = depend/wind-settings
	url = https://github.com/MitchWind/wind-settings.git
[submodule "depend/qBittorrent"]
	path = depend/qBittorrent
	url = https://github.com/KryptonLee/qBittorrent-openwrt-package.git
