[submodule "luci-app-passwall"]
	path = luci-app-passwall
	url = https://github.com/xiaorouji/openwrt-passwall.git
[submodule "luci-theme-argon"]
	path = luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon.git
[submodule "luci-app-vssr"]
	path = luci-app-vssr
	url = https://github.com/jerrykuku/luci-app-vssr.git
